@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: rgb(15, 23, 42);
    background: linear-gradient(
      0deg,
      rgba(15, 23, 42, 1) 0%,
      rgba(20, 35, 71, 1) 50%,
      rgba(15, 23, 42, 1) 100%
    );
    color: white;
  }
}
